{% extends 'layout.html' %}

{% block body %}
<div>
    
<div>
    <b>List of Items</b>
    <br>
    <a href="{% url 'create' %}">Create Item</a>
</div>

<div>
    
    {% if items %}
        <ol>
            
            {% for i in items %}
                <li>
                    {{ i.name }}
                    <br>
                    {{ i.description }}
                </li>
            {% endfor %}
                
        </ol>
    {% else %}
     <p>no records found</p>
    {% endif %}
        
</div>

</div>
{% endblock %}
    